﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="WebApplication2.WebForm1" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
    
        <table   align="center" width="85%"style="margin-top:60px;border:1px solid #3791db; font-family:Arial ; font:200;" >
      <tr style="height:60px">
          <td ></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
</tr>
      <tr >
          <td width="20px"></td>
          <td   style="margin-right:70px">
              <img src="img/picprofile.jpg" />
          </td>
          <td width="20px"></td>
          <td>
              Justin Baird brings over fifteen years of management and high tech experience in areas ranging from research and development engineering, analog and digital signal processing, embedded systems development, product management, high speed digital networks, large scale entertainment systems, mobile and web application deployment, and interactive multimedia installation technologies. He holds two U.S. Patents and has written a number of technical papers within these areas of research.

          </td>
          <td width="20px"></td>
      </tr>
      <tr>
          <td width="20px"></td>
          <td>
              <iframe width="400" height="315" src="//www.youtube.com/embed/tq-5d0MkxM0?list=UUjrRk7WjAVzDbywSY4hsNtw" frameborder="0" allowfullscreen></iframe></td>
        <td width="20px"></td>
            <td align="justify">
                <p>  Justin is a technology futurist, focused on delivering innovation through the development of intellectual property and products for both consumer and enterprise applications. Justin regularly presents on subjects pertaining to digital, media and marketing futures to both local and international audiences. </p>

                <p>    Justin is an alumni of the 2013 CSCLeaders, a Commonwealth Government leadership group founded, sponsored and hosted by HRH The Duke of Edinburgh, which is tackling the challenges that businesses, governments and society face today to build the global relationships needed by the leaders of tomorrow.</p>

                <p>     Justin was the Innovationist at Google, where he helped launched local YouTube portals across Asia Pacific, supported the launch of numerous consumer product releases including Google Maps and Google Wave, helped launch the first Android mobile devices in the region, brought the Google Creative Sandbox event to Australia’s shores for the first time, was a member of Google’s Global Creative Council, and co-created DNA, a digital thought leadership series hosted in both Australia and New Zealand. He also developed Digital Bytes, a technology event presentation format that has become the cornerstone of Google’s executive client engagement strategy across the Asia Pacific region.</p>

                <p>   Justin’s work was acknowledged by AdNews, Australia’s top selling advertising, marketing and media magazine, with their 2010 “40 under 40” award, profiling Australia’s leading talents across agencies, clients and the media. He has also actively supported the local creative and digital industries through sponsorship and lecturing at Award School.</p>

                <p>   Entrepreneurially, Justin is currently mentoring two startups as part of the DP World i360 Accelerator TURN8 program. He also advises other established startups based in Sydney and San Francisco.</p>
          </td>
          <td width="20px"></td>
      </tr>
      <tr>
          <td width="20px"></td>
          <td>
              <a class="twitter-timeline" href="https://twitter.com/riyazlafir" data-widget-id="471098187319496704">Tweets by @riyazlafir</a>
              <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + "://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } }(document, "script", "twitter-wjs");</script>
          </td>
          <td></td>
          <td>
                <asp:Label ID="Label1" runat="server" Text="Label" Visible="False"></asp:Label>
           
          </td>
          <td width="20px"></td>
</tr>
      <tr>
          <td width="20px"></td>
          <td>
              <input type="image" src="img/rating.png" name="image" width="200" height="60">
              
          </td>
          <td></td>
          <td align="center">
              
        <asp:Button ID="Button1" runat="server"  OnClick="Button1_Click" Text="Show Speaker Fee"  Height="40px"/>
       <asp:Button ID="Button2" runat="server"  OnClick="Button1_Click" Text="Book Now"  Height="40px"/>
             
             
          </td>
          <td width="20px"></td>
      </tr>
      <tr style="height:60px">
          <td width="20px"></td>
          <td></td>
          <td></td>
      </tr>
  </table>
  



    </div>

      
    </form>
</body>
</html>
